#!/bin/bash
#
# Backup & compress UniFi Network Server storage.
#
set -e
DATE_STAMP=`date +%Y-%m-%d`
OWNER='{{ _unifi_cfg_legacy_backup_owner.raw }}'
GROUP='{{ _unifi_cfg_legacy_backup_group.raw }}'
TARGET="{{ _unifi_cfg_legacy_backup_dir.raw }}/${DATE_STAMP}.tar.xz"

tar -I "xz -9" -cf "${TARGET}" "{{ _unifi_cfg_legacy_backup_enable._backup }}" "{{ _unifi_cfg_legacy_backup_enable._db }}" "{{ _unifi_srv_legacy_enable._properties }}" 2>/dev/null
chown ${OWNER}:${GROUP} "${TARGET}" 2>/dev/null || true
chmod o-rwx "${TARGET}" 2>/dev/null || true
